/* 폰트 적용 */
@font-face {
    font-family: "NanumPenScript";
    src: url("/public/NanumPenScript-Regular.ttf");
}

html, body {
    margin: 0px;
    width: 100%;
    background-color: rgb(246, 246, 246);
}

#root {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    /* 브라우저 실제 높이 */
    min-height: 100vh; 
    height: 100%;
    box-shadow: rgb(100, 100, 100, 0.2) 0px 0px 29px 0px;
}

body * {
    font-family: "NanumPenScript";
}

